h1, h2 {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 42px;
    line-height: normal;
}

h1 {
    text-align: center;
    color: #575757;
}

h1 span {
    font-weight: 400;
    font-style: italic;
}

h2 {
    color: #393939;
}

h2 span {
    font-weight: bold;
}

a {
    font-family: "Lato";
    font-weight: bold;
    font-style: italic;
    font-size: 20px; 
    text-decoration: none;
    display: inline-block;
}

.text {
    font-family: "Lato";
    font-size: 20px;
    line-height: normal;
}

.center {
    max-width: 1000px;
    height: 100%;
    margin: 0px auto;
    position: relative;
}

#header {
    position: fixed;
    display: inline-block;
    text-align: center;
    height: 750px;
    width: 100%;
    z-index: 0;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
}

#header img {
    margin-top: 225px;
    margin-bottom: 80px;
}

#content {
    position: absolute;
    width: 100%;
    top: 750px;
    z-index: 1;
}

#whatWeDo {
    position: relative;
    min-height: 925px;
    background-color: #ffffff;
    background-image: url("../img/what_we_do.png");
    background-position-x: center;
    background-position-y: -215px;
    background-repeat: no-repeat;
}

#whatWeDo #language {
    position: absolute;
    z-index: 100;
    top: 25px;
    margin-left: 887px;
    width: 90px;
    height: 35px;
    background-color: rgba(128, 151, 185, 191);
    border-radius: 35px;
}

#whatWeDo #language div {
    margin-left: 5px;
    height: 100%;
}

#whatWeDo #language a {
    float: left;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    margin-top: 0px;
    margin-left: 10px;
    line-height: 35px;
}

.current {
    font-weight: bold !important;
}

#whatWeDo h2 {
    padding-top: 115px;
    padding-left: 12px;
}

#whatWeDo .text {
    color: #504d4d;
    margin-top: 12px;
    max-width: 460px;
    padding-left: 12px;
}

#whatWeDo a {
    margin-top: 10px;
    color: #3aa8d2;
}

#whyAndHow {
    position: relative;
    background-color: #d62942;
    min-height: 815px;
}

#whyAndHow .center {
    min-height: 815px;
    background-image: url("../img/heart.png");
    background-position-y: center;
    background-repeat: no-repeat;
}

#whyAndHow h2, #whyAndHow .text {
    color: #ffffff;
    padding-left: 650px;
}

#whyAndHow h2 {
    padding-top: 120px;
    padding-bottom: 30px;
}

#whyAndHow a {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 125px;
}

#youCanHaveItToo {
    position: relative;
    background-color: #3fafc7;
    min-height: 840px;
}

#youCanHaveItToo .center {
    min-height: 840px;
    background-image: url("../img/devices.png");
    background-position-x: 490px;
    background-position-y: center;
    background-repeat: no-repeat;
}

#youCanHaveItToo h2, #youCanHaveItToo .text, #youCanHaveItToo a {
    color: #ffffff;
    text-align: right;
}

#youCanHaveItToo h2 {
    padding-top: 220px;
    padding-left: 24px;
    padding-bottom: 20px;
    width: 350px;
}

#youCanHaveItToo .text {
    padding-top: 30px;
    padding-left: 24px;
    width: 350px;
}

#youCanHaveItToo a {
    margin-bottom: 220px;
}

#getInTouch {
    position: relative;
    background-color: #ffffff;
    min-height: 750px;
    text-align: center;
}

#getInTouch .center {
    min-height: 750px;
}

#getInTouch h2 {
    color: #626262;
    padding-top: 115px;
    padding-bottom: 10px;
}

#getInTouch .text {
    margin: 0px auto;
    color: #626262;
    padding-top: 15px;
    width: 480px;
}

#getInTouch .text span {
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Lato";
    font-size: 30px;
    line-height: normal;
    color: #000000;
}

#getInTouch .contacts {
    width: auto;
    margin-bottom: 75px;
}

#getInTouch .socials {
    width: auto;
    margin-bottom: 65px;
    margin-left: 8px;
    margin-right: 8px;
}

#getInTouch .socials a {
    margin-left: 10px;
    margin-right: 10px;
}

#getInTouch a {
    color: #3aa8d2;
    margin-bottom: 70px;
}

#joinOurTeam {
    position: relative;
    background-color: #69c44a;
    min-height: 330px;
}

#joinOurTeam .center {
    min-height: 190px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#joinOurTeam #slashes {
    font-family: "Lato";
    font-weight: bold;
    font-size: 254px;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    margin-right: 50px;
}

#joinOurTeam #job {
    display: inline-block;
    vertical-align: middle;
}

#joinOurTeam h2 {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffffff;
}

#joinOurTeam .text {
    color: #ffffff;
    padding-bottom: 25px;
}

#joinOurTeam a {
    color: #fff600;
}