.center {
    max-width: 1515px;
    padding: 0px 15px;
    min-width: 500px;
}

#facebook, #gplus {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    font-size: 36px;
    background-color: #535353;
}

#gplus span {
    top: -6px;
}

#gplus sup {
    font-size: 21px;
    top: -10px;
}

#header {
    position: fixed;
    -webkit-transform: translateZ(0);
    top: 0px;
    width: 100%;
    height: 100px;
    z-index: 50;
    background-color: #f8f8f8;
}

#header > a, #header > img, #language {
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
}

#language {
    right: 30px;
}

#header > a {
    left: 45px;
    height: 34px;
    color: #929292;
}

#header > a div {
    display: inline-block;
    position: relative;
}

#header > a div:nth-of-type(1) {
    margin-right: 10px;
    border-radius: 17px;
    width: 34px;
    height: 34px;
    background-color: #000000;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    line-height: 34px;
    opacity: 0.5;
}

#header > a:hover div:nth-of-type(1) {
    opacity: 0.75;
}

#header > a:hover div:nth-of-type(2) {
    color: #3e3e3e;
}

#header > img {
    left: 0px;
    right: 0px;
}

#content {
    position: relative;
    margin-top: 100px;
    background: #ffffff;
    min-width: 530px;
    z-index: 0;
    background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
}

#footer {
    position: relative;
    text-align: center;
    min-height: 155px;
    overflow: hidden;
    min-width: 530px;
}

#footer div {
    display: inline-block;
    margin-top: 45px;
    z-index: 0;
}

#footer .socials {
    margin-left: 20px;
    margin-bottom: 45px;
}

#footer .contacts a {
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
    font-size: 24px;
    color: #515151;
}

@media (max-width: 999px) { 
    .center {
        width: 500px;
    }
    
    #language {
        height: 40px;
    }

    #language a {
        font-size: 23px;
        line-height: 39px;
    }
    
    #header > a {
        height: 44px;
    }
    
    #header > a div:nth-of-type(1) {
        border-radius: 22px;
        width: 44px;
        height: 44px;
        line-height: 44px;
    }
    
    #header > a div:nth-of-type(2) {
        display: none;
    }

    #footer .socials {
        margin-left: 0px;
        line-height: normal;
    }
}

@media (max-width: 700px) {
    #footer div {
        display: block;
    }
}