h1 {
    color: #393939;
    margin-top: 100px;
}

h2 {
    font-size: 26px;
    font-weight: 600;
    color: #2c2c2c;
}

#content {
    text-align: center;
}

#content p {
    max-width: 650px;
    display: inline-block;
}

#content #persons {
    right: 0px;
    left: 0px;
    margin: 90px auto 115px auto;
    overflow: hidden;
}

#content #persons > div {
    float: left;
    width: calc(100% / 3);
}

#content #persons img {
    width: 65%;
    margin-bottom: 25px;
    min-width: 260px;
    min-height: 260px;
    max-width: 325px;
    max-height: 325px;
    border-radius: 50%;
}

#content #persons p {
    color: #2c2c2c;
    margin-top: 0px;
    margin-bottom: 15px;
    min-width: 0px;
    width: auto;
    max-width: none;
}

#content #persons .specialization {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

#content #persons .email {
    display: block;
    font-size: 18px;
}

@media (max-width: 999px) { 
    h1 {
        font-size: 36px;
    }
    
    #content p {
        width: 360px;
    }
    
    #content #persons {
        margin-top: 0px;
        margin-bottom: 45px;
        width: 260px;
    }
    
    #content #persons > div {
        width: 260px;
        margin-top: 85px;
    }
}