h1, #content p {
    margin-left: 60px;
}

h1 {
    margin-top: 80px;
    text-align: left;
}

#content .center {
    width: 1342px;
}

#content .text {
    float: right;
    max-width: 830px;
    display: block;
    text-align: left;
    margin: 150px 0px;
}

#content p span {
    font-weight: bold;
    font-style: italic;
}

#content #bubbles {
    position: relative;
    display: block;
    width: 512px;
    height: 402px;
    text-align: left;
    float: right;
    margin: 170px 0px;
}

#content #bubbles span {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
}

#content #bubbles span:nth-of-type(1) {
    padding-top: 21px;
    font-size: 30px;
    line-height: 36px;
}

#content #bubbles span:nth-of-type(2) {
    margin-top: 10px;
    font-size: 20px;
}

#content #bubbles div {
    position: absolute;
}

#content #bubbles #orangeBubble {
    width: 412px;
    height: 194px;
    left: 100px;
    top: 0px;
    background: url("../../img/philosophy/orange_bubble_right.svg") no-repeat;
    background-size: 412px 194px;
}

#content #bubbles #magentaBubble {
    width: 440px;
    height: 232px;
    left: 0px;
    top: 170px;
    background: url("../../img/philosophy/magenta_bubble.svg") no-repeat;
    background-size: 440px 232px;
}

#colors {
    margin: 0px auto;
    width: 100%;
    overflow: hidden;
    background-color: #de4e8f;
    color: #ffffff;
}

#colors .colorWrapper {
    margin: 0px auto;
    width: 1500px;
    overflow: hidden;
}

#colors .colorWrapper div {
    width: 250px;
    height: 590px;
    float: left;
}

#colors h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    margin: 24px 20px 0px 20px;
}

#colors p {
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
}

#colors .yellow {
    background-color: #e5c30a;
}

#colors .green {
    background-color: #7dc833;
}

#colors .darkGreen {
    background-color: #31bb89;
}

#colors .turquoise {
    background-color: #33bcc8;
}

#colors .blue {
    background-color: #4a8acb;
}

#colors .violet {
    background-color: #655cd4;
}

#colors .yellow h2 {
    margin-top: 79px; 
}

#colors .green h2 {
    margin-top: 129px; 
}

#colors .darkGreen h2 {
    margin-top: 179px; 
}

#colors .turquoise h2 {
    margin-top: 229px; 
}

#colors .blue h2 {
    margin-top: 279px; 
}

#colors .violet h2 {
    margin-top: 329px; 
}

@media (max-width: 1649px) {
    
    h1, #content p {
        margin-left: 115px;
        margin-right: 115px;
    }
    
    h1 {
        text-align: center
    }
    
    #content .center {
        width: auto;
        text-align: center;
    }
    
    #content .text {
        float: none;
        margin: 0px;
        max-width: none;
        text-align: center;
        display: inline-block;
    }
    
    #content #bubbles {
        float: none;
        margin: 70px auto 115px auto;
        width: 867px;
        height: 272px;
    }
    
    #content #bubbles #orangeBubble {
        left: 455px;
        top: 0px;
        background: url("../../img/philosophy/orange_bubble_left.svg") no-repeat;
    }

    #content #bubbles #magentaBubble {
        left: 0px;
        top: 40px;
    }
    
    #colors {
        margin: 60px auto 0px auto;
        width: 750px;
    }
    
    #colors .colorWrapper {
        width: auto;
    }
    
    #colors .colorWrapper div {
        height: 270px;
    }
    
    #colors .colorWrapper h2 {
        margin-top: 24px;
    }

}

@media (max-width: 999px) {
    
    #content p {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    #content #bubbles {
        margin: 40px auto 100px auto;
        width: auto;
        height: auto;
    }

    #content #bubbles div {
        position: relative;
        margin: 20px auto 0px auto;
        width: 365px !important;
        font-size: 26px;
    }
    
    #content #bubbles span:nth-of-type(1) {
        padding-top: 28px;
        font-size: 24px;
        line-height: 28px;
    }

    #content #bubbles span:nth-of-type(2) {
        margin-top: 14px;
        font-size: 18px;
    }
    
    #content #bubbles #orangeBubble {
        width: 363px;
        height: 194px;
        left: auto;
        top: auto;
        background-size: 363px 194px;
    }

    #content #bubbles #magentaBubble {
        width: 363px;
        height: 216px;
        left: auto;
        top: auto;
        background-size: 363px 216px;
    }
    
    #colors {
        margin: 0px;
        width: auto;
        min-width: 530px;
    }

    #colors .colorWrapper div {
        width: 100%;
        min-width: 530px;
    }
    
    #colors h2 {
        color: #ffffff;
        margin: 24px auto 0px auto;
        width: 210px;
    }

    #colors p {
        margin-left: auto;
        margin-right: auto;
        width: 210px;
    }
}