form {
    margin: 0px;
}

form input[type=submit] {
    margin: 0px;
}

#content {
    text-align: center;
}

#content .desktop {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    text-align: left;
}

#content .mobile {
    display: none;
    width: 380px;
    text-align: left;
}

#content .center {
    padding-top: 130px;
    max-width: 1515px;
}

#content .center img {
    display: inline-block;
    vertical-align: top;
}

#content .center img {
    margin-right: 40px;
}

#content .center div p {
    margin-top: 25px;
}

@media (max-width: 999px) { 
    #content .center {
        padding-top: 50px;
    }
    
    #content .center img {
        margin-right: 0px;
        margin-bottom: 40px;
    }
  
    #content .center h1 {
        font-size: 36px;
    }

    #content .desktop {
        display: none;
    }

    #content .mobile {
        display: inline-block;
    }
    
    #content .mobile input[type=text] {
        margin-top: 12px;
        margin-bottom: 15px;
    }
    
    #content .mobile form:nth-of-type(2) {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    #content .mobile form:nth-of-type(2) input {
        background-color: #aeb89d;
    }
}