#content {
    background: #ffffff;
    text-align: center;
}

input {
    font-family: "Lato";
    background-color: #e7e7e7;
    font-size: 20px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: #504d4d;
    border-radius: 4px;
    outline: 0;
}

input:focus {
    outline: #d5d5d5 solid 2px;
}

input[type=submit] {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    background-color: #77b11c;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    cursor: pointer; 
}

input[type=submit]:hover {
    background-color: #8dcd27;
}

input[type=submit]:disabled {
    background-color: #c7c7c7;
}

input[type=submit]:focus {
    outline: 0;
}

#content .desktop {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    text-align: left;
}

#content .mobile {
    display: none;
    width: 380px;
    text-align: left;
}

#content .center {
    padding-top: 130px;
}

#content .center img {
    display: inline-block;
    vertical-align: top;
}

#content .center img {
    margin-right: 40px;
}

#content .center div h1 {
    text-align: left;
}

#content .center div p {
    margin-top: 25px;
}

@media (max-width: 999px) { 
    #content .center {
        padding-top: 50px;
    }
    
    #content .center img {
        margin-right: 0px;
        margin-bottom: 40px;
    }
  
    #content .center h1 {
        font-size: 36px;
    }

    #content .desktop {
        display: none;
    }

    #content .mobile {
        display: inline-block;
    }
    
    #content .mobile input[type=text] {
        margin-top: 12px;
        margin-bottom: 15px;
    }
    
    #content .mobile form:nth-of-type(2) {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    #content .mobile form:nth-of-type(2) input {
        background-color: #aeb89d;
    }
}