.required, .requiredMobile td {
    font-style: italic;
    color: #afafaf;
}

.requiredMobile {
    display: none;
}

.inputs {
    width: 234px;
}

@media (max-width: 999px) { 
    .required {
        display: none;
    }
    
    .requiredMobile {
        display: table-row;
        text-align: center;
    }
}