table {
    width: auto;
}

td {
    min-width: 0px;
}

#content .required, .requiredMobile td {
    font-style: italic;
    color: #afafaf;
}

#content .requiredMobile {
    display: none;
}

@media (max-width: 999px) { 
    #content .required {
        display: none;
    }
    
    #content .requiredMobile {
        display: table-row;
        text-align: center;
    }
}