h1 {
    text-align: left;
}

form {
    margin: 0px;
}

form input[type=submit] {
    margin: 60px auto;
    display: block;
}

input, textarea {
    font-family: "Source Sans Pro";
    background-color: #e7e7e7;
    font-size: 20px;
    padding: 10px;
    border: none;
    color: #504d4d;
    border-radius: 4px;
    outline: 0;
    width: 400px;
}

input:focus, textarea:focus {
    outline: #d5d5d5 solid 2px;
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    cursor: pointer;
    background-image: url("../../img/test/checkbox/default.svg");
}

input[type=checkbox]:checked {
    background-image: url("../../img/test/checkbox/checked.svg");
}

input[type=checkbox]:hover {
    background-image: url("../../img/test/checkbox/hover.svg");
}

input[type=checkbox]:active {
    background-image: url("../../img/test/checkbox/pressed.svg");
}

input[type=checkbox]:checked:hover {
    background-image: url("../../img/test/checkbox/checked_hover.svg");
}

input[type=checkbox]:checked:active {
    background-image: url("../../img/test/checkbox/checked_pressed.svg");
}

input[type=checkbox]:focus {
    outline: 0px;
}

input[type=radio] {
    width: 25px;
    height: 25px;
    background-color: transparent;
    -webkit-appearance: none;
    cursor: pointer;
    background-image: url("../../img/test/radio/default.svg");
}

input[type=radio]:checked {
    background-image: url("../../img/test/radio/checked.svg");
}

input[type=radio]:hover {
    background-image: url("../../img/test/radio/hover.svg");
}

input[type=radio]:checked:hover {
    background-image: url("../../img/test/radio/checked.svg");
}

input[type=radio]:active {
    background-image: url("../../img/test/radio/pressed.svg");
}

input[type=radio]:focus {
    outline: 0px;
}

input[type=submit] {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    background-color: #77b11c;
    padding: 0px 25px;
    border-radius: 20px;
    cursor: pointer; 
    width: auto;
    line-height: 40px;
     -webkit-appearance: none;
}

input[type=submit]:hover {
    background-color: #8dcd27;
}

input[type=submit]:disabled {
    background-color: #c7c7c7;
}

input[type=submit]:focus {
    outline: 0px;
}

textarea {
   resize: none;
   height: 260px;
}

pre {
    font-family: Consolas;
    font-size: 15px;
    color: #3f3f3f;
    background-color: #f8f8f8;
    border-left: 20px solid #e8e8e8;
    display: block;
    padding: 20px;
    max-width: 635px;
    margin: 0px auto;
}

table {
    margin: 40px auto 0px auto;
    width: 100%;
}

td {
    padding: 10px 22px;
    vertical-align: middle;
    font-family: "Source Sans Pro";
    font-size: 20px;
    color: #504d4d;
    min-width: 200px;
}

tr td:nth-of-type(1) {
    padding-left: 35px;
}

table .textareaDescription {
    vertical-align: top;
    padding-top: 20px;
}

.line {
    padding: 35px 0px;
}

.line:before {
    content: "";
    background-color: #e7e7e7;
    height: 1px;
    display: block;
}

.smallTable thead td {
    padding-left: 35px !important;
    padding-bottom: 25px;
}

.smallTable td {
    min-width: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 40px;
}

.smallTable td:nth-of-type(1) {
    padding-left: 68px;
    padding-right: 14px;
}

.smallTable td:nth-of-type(2) {
    width: 100%;
    padding-left: 0px;
}

.smallInput {
    width: 214px;
    padding: 8px 10px;
}

.smallTable .smallInput {
    margin-left: 10px;
}

.smallText {
    max-width: 695px;
    margin-left: auto;
    margin-right: auto;
}

.description {
    color: #afafaf;
    text-align: center;
}

#content {
    background: #ffffff;
    margin-top: 140px;
}

#content .desktop {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    text-align: left;
}

#content .mobile {
    display: none;
    width: 380px;
    text-align: left;
}

#content .center {
    padding-top: 60px;
    max-width: 750px;
}

#content .center img {
    display: inline-block;
    vertical-align: top;
}

#content .center img {
    margin-right: 40px;
}

#content .center div p {
    margin-top: 25px;
}

#bar {
    position: fixed;
    width: 100%;
    top: 100px;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 18px;
    line-height: 40px;
    color: #5c5c5c;
    background-color: #e8e8e8;
}

#timer {
    margin-left: 15px;
    background-color: #d54f4f;
    color: #ffffff;
    padding: 0px 8px;
    border-radius: 4px;
    display: inline-block;
    line-height: 30px;
}

#introduction #content input[type=submit] {
    margin: 0px;
}

#introduction #content .center {
    text-align: center;
    padding-top: 130px;
    max-width: 1515px;
}

#firstPage table {
    width: auto;
}

#firstPage td {
    min-width: 0px;
}

#firstPage #content .required, #firstPage #content .requiredMobile td {
    font-style: italic;
    color: #afafaf;
}

#firstPage #content .requiredMobile {
    display: none;
}

@media (max-width: 999px) { 
    input, textarea {
        width: auto;
    }   
    td {
        min-width: 0px;
    }

    #content .center {
        padding-top: 50px;
    }
    
    #content .center img {
        margin-right: 0px;
        margin-bottom: 40px;
    }
  
    #content .center h1 {
        font-size: 36px;
    }

    #content .desktop {
        display: none;
    }

    #content .mobile {
        display: inline-block;
    }
    
    #content .mobile input[type=text] {
        margin-top: 12px;
        margin-bottom: 15px;
    }
    
    #content .mobile form:nth-of-type(2) {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    #content .mobile form:nth-of-type(2) input {
        background-color: #aeb89d;
    }

    #firstPage #content .required {
        display: none;
    }
    
    #firstPage #content .requiredMobile {
        display: table-row;
        text-align: center;
    }
}