#dimmer {
    top: 430px; 
    left: 0px;
}

#dotekomanie {
    top: 270px; 
    left: 160px;
}

#logify {
    top: 430px; 
    left: 160px;
}

#wealthico {
    top: 340px; 
    left: 320px;
}

#musicstopper {
    top: 370px; 
    left: 480px;
}

#wiFly {
    top: 530px; 
    left: 480px;
}

#netMonster {
    top: 370px; 
    left: 640px;
}