#language {
    top: 25px;
    right: 15px;
}

#header {
    position: fixed;
    display: table;
    text-align: center;
    width: 100%;
    height: 750px;
    z-index: 0;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
}

#header .center {
    height: auto;
    display: table-cell;
    vertical-align: middle;
}

#header img {
    margin-bottom: 80px;
}

#content {
    top: 750px;
    position: relative;
    min-width: 100%;
    z-index: 1;
}

#content > div {
    padding: 0px 15px;
    position: relative;
}

@media (max-height: 750px) {
    #header {
        height: 100%;
    }

    #content {
        top: 100%;
    }
}

@media (max-height: 400px) {
    #header {
        position: relative;
        height: 400px;
    }

    #content {
        top: 0px;
        position: relative;
    }
}

#whatWeDo {
    background-color: #ffffff;
    overflow: hidden;
}

#whatWeDo #background {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
}

#whatWeDo #background #centeredDiv {
    position: relative;
    left: -50%;
    height: 100%;
    background-color: transparent;
}

#whatWeDo #background #centeredDiv div {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0px;
    background-repeat: no-repeat;
}

#whatWeDo h2 {
    margin-top: 115px;
}

#whatWeDo p {
    color: #504d4d;
}

#whyAndHow {
    background-color: #d62942;
}

#whyAndHow .center {
    background-image: url("../../img/main/heart.png");
    background-repeat: no-repeat;
}

#whyAndHow #rightAligment {
    position: relative;
}

#whyAndHow h2, #whyAndHow p {
    color: #ffffff;
}

#whatWeDid {
    background-color: #ffffff;
}

#whatWeDid h2 {
    color: #393939;
}

#whatWeDid p {
    color: #504d4d;
}

#whatWeDid .cardInfo {
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.12);
}

#youCanHaveItToo {
    background-color: #3fafc7;
}

#youCanHaveItToo .center {
    background-image: url("../../img/main/devices.png");
    background-size: 495px 359px;
    background-repeat: no-repeat;
}

#youCanHaveItToo h2, #youCanHaveItToo p {
    width: 350px;
    color: #ffffff;
}

#getInTouch {
    background-color: #ffffff;
    text-align: center;
}

#getInTouch h2 {
    color: #626262;
}

#getInTouch p {
    color: #626262;
}

#getInTouch .contacts span {
    font-family: "Lato";
    font-size: 30px;
    line-height: normal;
    color: #000000;
}

#getInTouch .socials {
    width: auto;
}

#getInTouch .socials a {
    margin-left: 10px;
    margin-right: 10px;
}

#getInTouch #facebook, #getInTouch #gplus {
    width: 108px;
    height: 108px;
    border-radius: 54px;
    text-align: center;
    line-height: 108px;
    font-size: 66px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
}

#getInTouch #facebook:hover, #getInTouch #gplus:hover {
    opacity: 0.9;
}

#getInTouch #facebook {
    background-color: #3a65d3;
}

#getInTouch #gplus {
    background-color: #d73b3b;
}

#getInTouch #gplus span {
    top: -12px;
    position: relative;
}

#getInTouch #gplus sup {
    font-size: 34px;
    position: relative;
    top: -19px;
}

#joinOurTeam {
    background-color: #69c44a;
}

#joinOurTeam #slashes {
    font-family: "Lato";
    font-weight: bold;
    color: #ffffff;
}

#joinOurTeam h2 {
    color: #ffffff;
}

#joinOurTeam p {
    color: #ffffff;
}

#joinOurTeam a {
    color: #fff600;
}