#language {
    top: 25px;
    right: 15px;
}

.socials {
    width: auto;
}

#facebook, #gplus {
    width: 108px;
    height: 108px;
    border-radius: 54px;
    line-height: 108px;
    font-size: 66px;
}

#facebook {
    background-color: #3a65d3 !important;
}

#gplus {
    background-color: #d73b3b !important;
}

#gplus span {
    top: -12px;
}

#gplus sup {
    font-size: 34px;
    top: -19px;
}

#header {
    position: fixed;
    display: table;
    text-align: center;
    width: 100%;
    height: 750px;
    z-index: -1;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
}

#header .center {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#header img {
    margin-bottom: 80px;
}

#content {
    top: 750px;
    position: absolute;
    min-width: 100%;
    z-index: 1;
}

#content > div {
    padding: 0px 50px;
    position: relative;
}

@media (max-height: 750px) {
    #header {
        height: 100%;
    }

    #content {
        top: 100%;
    }
}

@media (max-height: 400px) {
    #header {
        position: relative;
        height: 400px;
    }

    #content {
        top: 0px;
        position: relative;
    }
}

#whatWeDo {
    background-color: #ffffff;
    overflow: hidden;
}

#whatWeDo .center {
    background-image: url("../../img/main/devices.svg");
    background-repeat: no-repeat;
}

#whatWeDo span {
    font-weight: bold;
    font-style: italic;
}

#whatWeDo h2 {
    margin-top: 115px;
}

#whyAndHow {
    background: #db2939;
    background: -moz-linear-gradient(-45deg, #db2939 0%, #d62657 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#db2939), color-stop(100%,#d62657));
    background: -webkit-linear-gradient(-45deg, #db2939 0%,#d62657 100%);
    background: -o-linear-gradient(-45deg, #db2939 0%,#d62657 100%);
    background: -ms-linear-gradient(-45deg, #db2939 0%,#d62657 100%);
    background: linear-gradient(135deg, #db2939 0%,#d62657 100%);
}

#whyAndHow .center {
    background-image: url("../../img/main/heart.png");
    background-repeat: no-repeat;
}

#whyAndHow #rightAligment {
    position: relative;
}

#whyAndHow h2, #whyAndHow p {
    color: #ffffff;
}

#whatWeDid {
    background-color: #ffffff;
}

#whatWeDid .center {
    height: 100%;
}

#whatWeDid h2 {
    color: #393939;
}

#whatWeDid .cardInfo {
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.12);
}

#jmkn {
    background-color: #f8f8f8;
}

#jmkn .center {
    padding: 50px 15px;
    text-align: center;
}

#jmkn .center > *  {
    display: inline-block;
    vertical-align: middle;
}

#jmkn img {
    width: 70px;
    height: 70px;
}

#jmkn h2 {
    font-size: 24px;
    font-weight: 600;
}

#jmkn a {
    color: #393939;
}

#youCanHaveItToo {
    background-color: #3fafc7;
}

#youCanHaveItToo .center {
    background-image: url("../../img/main/nexus.svg");
    background-size: 700px 1314px;
    background-repeat: no-repeat;
    background-position: center 25px;
}

#youCanHaveItToo h2, #youCanHaveItToo p {
    text-align: center;
    color: #ffffff;
}

#youCanHaveItToo h2 {
    margin: 300px auto 50px auto;
    color: #d7fffa;
}

#youCanHaveItToo p {
    margin: 30px auto 30px auto; 
    color: #bbcfcc;
}

#youCanHaveItToo a {
    margin-bottom: 90px;
}

#getInTouch {
    background-color: #ffffff;
    text-align: center;
}

#getInTouch h2 {
    color: #626262;
}

#getInTouch p {
    color: #626262;
}

#getInTouch .contacts a {
    font-family: "Source Sans Pro";
    font-size: 30px;
    line-height: normal;
    color: #000000;
}

#joinOurTeam {
    background-color: #69c44a;
}

#joinOurTeam #slashes {
    font-family: "Source Sans Pro";
    font-weight: bold;
    color: #ffffff;
}

#joinOurTeam h2 {
    color: #ffffff;
}

#joinOurTeam p {
    color: #ffffff;
}

#joinOurTeam a {
    color: #fff600;
}