h3 {
    font-size: 30px;
}

.center {
    max-width: 1400px;
}

#whatWeDo .center {
    min-height: 925px;
}

#whatWeDo #background {
    max-width: 1900px;
}

#whatWeDo #background #centeredDiv div {
    max-width: 1700px;
    background-image: url("../../img/main/what_we_do.png");
    background-size: 1741px 1465px;
    background-position: center -215px;
}

#whatWeDo h2 {
    margin-left: 12px;
}

#whatWeDo p {
    max-width: 40%;
    margin-left: 12px;
}

#whyAndHow .center {
    background-size: 507px 455px;
    background-position: 0px center;
}

#whyAndHow #rightAligment {
    margin-left: 60%;
}

#whyAndHow h2 {
    padding-top: 120px;
}

#whyAndHow h2:nth-of-type(2) {
    padding-top: 150px;
}

#whyAndHow p {
    max-width: 450px;
}

#whyAndHow a {
    color: #ffffff;
    margin-bottom: 125px;
}

#whatWeDid {
    height: 920px;
}

#whatWeDid h2, #whatWeDid p {
    margin-left: 10px;
    max-width: 550px;
}

#whatWeDid h2 {
    padding-top: 70px;
}

#whatWeDid a {
    margin-bottom: 5px;
}

#whatWeDid #cards {
    position: absolute;
    width: 1037px;
    height: 100%;
    top: 0px;
    right: 0px;
}

#whatWeDid .card {
    position: absolute;
}

#whatWeDid .cardInfo {
    background-color: rgba(232, 238, 247, 0.84);
    width: 235px;
    padding: 200px 0px 15px 0px;
    opacity: 0;
    text-align: center;
}

#whatWeDid .card img {
    cursor: pointer; 
    top: 35px;
    left: 45.5px;
    opacity: 0.3;
    width: 144px;
    height: 144px;
    position: absolute;
    display: block;
    z-index: 2;
}

#whatWeDid .card img:hover {
    opacity: 0.4;
}

#whatWeDid .cardInfo p {
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 0px;
}

#whatWeDid #moreCards {
    display: initial;
}

#whatWeDid #showMore, #whatWeDid #showLess {
    display: none;
}

#youCanHaveItToo .center {
    max-width: 1200px;
    background-position: right center;
}

#youCanHaveItToo .center > h2, #youCanHaveItToo .center > p {
    text-align: right;
    margin-left: 24px;
}

#youCanHaveItToo h2 {
    padding-top: 220px;
}

#youCanHaveItToo a {
    margin-bottom: 220px;
    color: #ffffff;
}

#getInTouch h2 {
    padding-top: 115px;
}

#getInTouch p {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
}

#getInTouch a {
    margin-bottom: 70px;
}

#getInTouch .contacts {
    width: auto;
    margin-bottom: 75px;
}

#getInTouch .contacts span {
    margin: 0px 30px 0px 30px;
}

#getInTouch .socials {
    margin-bottom: 65px;
}

#joinOurTeam .center {
    padding: 40px 0px 40px 0px;
    max-width: 900px;
}

#joinOurTeam #slashes {
    font-size: 254px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 50px 0px 40px;
}

#joinOurTeam #job {
    display: inline-block;
    vertical-align: middle;
    max-width: 530px;
}

#joinOurTeam h2 {
    padding-top: 40px;
    margin-bottom: 40px;
}

#joinOurTeam p {
    margin-bottom: 25px;
}