h1 {
    color: #ffffff;
    margin-top: 85px;
}

#bar {
    margin-top: 100px;
    position: relative;
    margin-bottom: -155px;
    min-width: 530px;
    text-align: center;
}

#bar p {
    color: #ffffff;
    margin: 12px auto 32px auto;
    display: block;
    width: 80%;
    max-width: 1050px;
}

#bar img {
    position: relative;
    margin: 0px auto;
    width: 340px;
    height: 340px;
    z-index: 1;
}

#content {
    margin-top: 0px;
    padding-top: 95px;
    text-align: center;
}

#content p {
    display: inline-block;
    max-width: 1150px;
    margin-left: 80px;
    margin-right: 80px;
}

#content #links {
    margin: 60px 100px 70px 100px;
}

#content #links a {
    height: 67px;
    width: 195px;
    margin: 6px 6px;
}

#content #links a:hover {
    opacity: 0.9;
}

#content #links .appStore {
    background-image: url("../../img/store/apple.png");
}

#content #links .googlePlay {
    background-image: url("../../img/store/google.png");
}

#content .underDevelopment {
    padding-top: 90px;
    padding-bottom: 120px;
}

#content .underDevelopment p {
    max-width: 800px;
}

#content .underDevelopment form {
    margin-top: 30px;
}

#content .underDevelopment input {
    font-family: "Source Sans Pro";
    background-color: #e7e7e7;
    font-size: 20px;
    padding: 0px 10px;
    line-height: 40px;
    border: none;
    color: #504d4d;
    border-radius: 4px;
    outline: 0;
    width: 250px;
    text-align: center;
}

#content .underDevelopment input:focus {
    outline: #d5d5d5 solid 2px;
}

#content .underDevelopment input[type=submit] {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    background-color: #77b11c;
    padding: 0px 30px;
    border-radius: 20px;
    cursor: pointer; 
    width: auto;
    line-height: 40px;
     -webkit-appearance: none;
     margin-left: 20px;
}

#content .underDevelopment input[type=submit]:hover {
    background-color: #8dcd27;
}

#content .underDevelopment input[type=submit]:disabled {
    background-color: #c7c7c7;
}

#content .underDevelopment input[type=submit]:focus {
    outline: 0px;
}

@media (max-width: 999px) {
    .center {
        width: auto;
    }
    
    #bar p {
        margin-left: 60px;
        margin-right: 60px;
        width: auto;
    }
    
    #content p {
        margin-left: 40px;
        margin-right: 40px;
    }   
}