h1 {
    color: #ffffff;
    margin-top: 85px;
}

#bar {
    margin-top: 100px;
    position: relative;
    margin-bottom: -155px;
    min-width: 530px;
    text-align: center;
}

#bar p {
    color: #ffffff;
    margin: 12px auto 32px auto;
    display: block;
    width: 80%;
    max-width: 1050px;
}

#bar img {
    position: relative;
    margin: 0px auto;
    width: 340px;
    height: 340px;
    z-index: 1;
}

#content {
    margin-top: 0px;
    padding-top: 95px;
    text-align: center;
}

#content p {
    display: inline-block;
    max-width: 1150px;
    margin-left: 80px;
    margin-right: 80px;
}

#links {
    margin: 60px 100px 70px 100px;
}

#links a {
    height: 67px;
    width: 195px;
    background-size: 195px 67px;
    margin: 6px 6px;
}

#links a:hover {
    opacity: 0.9;
}

#links .appStore {
    background-image: url("../../img/app/store/apple.png");
}

#links .googlePlay {
    background-image: url("../../img/app/store/google.png");
}

#links .windowsStore {
    background-image: url("../../img/app/store/windows.png");
}

#links .appStore_cz {
    background-image: url("../../img/app/store/apple_cz.png");
}

#links .googlePlay_cz {
    background-image: url("../../img/app/store/google_cz.png");
}

#links .windowsStore_cz {
    background-image: url("../../img/app/store/windows_cz.png");
}

@media (max-width: 999px) {
    .center {
        width: auto;
    }
    
    #bar p {
        margin-left: 60px;
        margin-right: 60px;
        width: auto;
    }
    
    #content p {
        margin-left: 40px;
        margin-right: 40px;
    }   
}


@media (max-height: 499px) {
    #bar {
        margin-top: 50px;
    }
}